<a href="https://colab.research.google.com/github/selfor21/EBAC-SLF-230210/blob/main/EBAC_M%C3%B3dulo035_Projeto03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploração e análise de dados de crédito com SQL**

*Projeto 03 do Curso Análise Dados da EBAC. 02/04/2023 *

## 1- Os dados: ##

Fornecido arquivo credito8.csv
Os dados contem as seguintes colunas e qualificam os clientes de um banco para receber crédito: 

* idade = idade do cliente
* sexo = sexo do cliente (F ou M)
* dependentes = número de dependentes do cliente
* escolaridade = nível de escolaridade do clientes
* estado civil = (casado, divorciado ou solteiro)
* salario_anual = faixa salarial do cliente
* tipo_cartao = tipo de cartao do cliente
* qtd_produtos = quantidade de produtos comprados nos últimos 12 meses
* iteracoes_12m = quantidade de iterações/transacoes nos ultimos 12 meses
* meses_inativo_12m = quantidade de meses que o cliente ficou inativo
* limite_credito = limite de credito do cliente
* valor_transacoes_12m = valor das transações dos ultimos 12 meses
* qtd_transacoes_12m  = quantidade de transacoes dos ultimos 12 meses

A tabela foi criada no **AWS Athena** junto com o **S3 Bucket** com os dados disponibilizados no arquivo credito8.csv que é uma versão dos dados disponibilizados em: https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset

## 2- Exploração de dados: ##

Na fase de exploração de dados, vamos buscar entender os dados disponíveis em relação ao seu tamanho, tipos de dados e valores para cada atributo.

### 2.1- Cabeçalho e 05 linhas do arquivo ###
###SELECT * FROM credito LIMIT 5###
Resultado no arquivo query_01.csv

### 2.2- Quais os tipos de dados ###
### DESCRIBE credito ###

> idade               	int                 	                    
> sexo                	string              	                    
> dependentes         	int                 	                    
> escolaridade        	string              	                    
> estado_civil        	string              	                    
> salario_anual       	string              	                    
> tipo_cartao         	string              	                    
> qtd_produtos        	bigint              	                    
> iteracoes_12m       	int                 	                    
> meses_inativo_12m   	int                 	                    
> limite_credito      	float               	                    
> valor_transacoes_12m	float               	                    
> qtd_transacoes_12m  	int

### 2.3- Quantidade de Linhas ###
### select count(*) from credito ###
	
2564

### 2.4- Avaliando valores para o atributo escolaridade ###
### SELECT DISTINCT escolaridade FROM credito ###

> 1                   	na              	                    
> 2              	      ensino medio              	                    
> 3                   	sem educacao formal              	                    
> 4                    	mestrado               	                    
> 5                     graduacao

> 6                   	doutorado     

Podemos observar que temos valor nulo neste atributo (na).

### 2.5- Avaliando valores para o atributo estado_civil ###
### SELECT DISTINCT estado_civil FROM credito ###
# estado_civil

> 1                	divorciado                 	                    
> 2                	solteiro              	                    
> 3                	na                 	                    
> 4               	casado     

Temos o valor nulo para este atritubo.

### 2.6- Avaliando valores para o atributo tipo_cartao ###
### SELECT DISTINCT tipo_cartao FROM credito

> 1                	blue                 	                    
> 2                	gold              	                    
> 3                	silver                 	                    
> 4               	platinum

Não temos valores nulo para este atributo.

### 2.7- Avaliando valores para o atributo salario_anual ###
### SELECT DISTINCT salario_anual FROM credito ###

### salario_anual
### 1 $80K - $120K
### 2	$60K - $80K
### 3	$40K - $60K
### 4 $120K +

### 5	menos que $40K
### 6	na

## 3- Análise de dados: ##
Através da análise dos dados, vamos pesquisar padrões, insights ou tendências que auxiliem e melhorem a qualidade das decisões.
Podemos agrupar, classificar e associar atributos, buscando encontrar significados nestes dados.
Podemos fazer isto, respondendo perguntas formuladas.

### 3.1- Qual a distribuição de clientes por faixa salarial? ###
### select count(*), salario_anual from credito group by salario_anual ###


### _col0    salario_anual
* 701      menos que $40K

* 467      $40K - $60K

* 451      $60K - $80K

* 488      $80K - $120K

* 222      $120K +
* 235      na

Dos valores acima, notamos que a maior concentração de clientes esta na menor faixa salarial. Temos 235 valores nulos e a menor concentração esta nos clientes de maior faixa salarial.

### 3.2- Qual perfir dos clientes com maior limite de crédito? ###
### select max(limite_credito) as limite_credito, escolaridade, tipo_cartao, sexo from credito where escolaridade != 'na' and tipo_cartao != 'na' group by escolaridade, tipo_cartao, sexo order by limite_credito desc limit 10 ###

# limite_credito escolaridade tipo_cartao sexo
* 1	34516.99 sem educacao formal blue M

* 2	34516.98 mestrado gold M

* 3	34516.97 mestrado blue M

* 4 34516.96 doutorado platinum F

* 5	34516.96 sem educacao formal silver M

* 6 34516.95 ensino medio gold M

* 7	34516.94 graduacao gold F

* 8	34516.94 graduacao gold M

* 9	34516.89 graduacao silver M

* 10 34516.74 ensino medio blue M

Dentre os 10 maiores limites, encontramos todos os tipos de cartões e tambem todos os níveis de escolaridade. Portanto, não podemos encontrar uma relação direta entre estes atributos. Predominância do sexo Masculino com 08 eventos em 10.

### 3.3 - Existe diferença nos valores por sexo? ###
### select max(valor_transacoes_12m) as maior_valor_gasto, avg (valor_transacoes_12m) as  media_valor_gasto, min(valor_transacoes_12m) as min_valor_gasto, sexo from credito group by sexo ###


# maior_valor_gasto media_valor_gasto min_valor_gasto sexo
* 1	4686.93 1807.968 530.36 M

* 2	4776.58 1839.6226 510.16 F

Pelos resultados obtidos, os valores gastos não apresentam diferenças significativas quando olhados sob o ponto de vista do sexo.

### 3.4 - Existe diferença nos valores por escolaridade? ###
### select max(valor_transacoes_12m) as maior_valor_gasto, avg (valor_transacoes_12m) as  media_valor_gasto, min(valor_transacoes_12m) as min_valor_gasto, escolaridade from credito group by escolaridade ###

# maior_valor_gasto media_valor_gasto min_valor_gasto escolaridade

* 1	4642.78 1824.6119 569.87 mestrado

* 2	4686.93 1862.2415 510.16 graduacao

* 3	4776.58 1828.6593 647.1 doutorado

* 4	4563.5 1790.1471 594.41 ensino medio

* 5	4740.94 1819.9061 683.34 sem educacao formal

* 6	4291.31 1820.9967 615.02 na

Contrariando o que se pode esperar, os valores são similares para os diferentes níveis de escolaridade.